.Header {
  height: 40px;
  box-shadow: 0 1px 0 0 #f0f0f0;
  box-sizing: border-box;
  background-color: #fff;
  display: inline-grid;
  grid-template-columns: 112px auto;
  align-items: center;
}

.Header-Logo {
  display: inline-block;
  height: 40px;
  width: 112px;
  position: relative;
  background: url('../images/logo.svg') no-repeat left top;
  vertical-align: top;
}

.Header-Nav {
}

.Header-HavContent {
  margin: 0 0 0 30px;
  padding: 0;
}

.Header-NavTab {
  display: inline-block;
  position: relative;
  height: calc(var(--header-height) - 6px);
  line-height: calc(var(--header-height) - 6px);
  margin: 3px 0 3px 20px;
  cursor: pointer;
  vertical-align: top;
  opacity: 0.6;
  color: var(--color-text);
}

.Header-NavTab:hover {
  color: var(--color-text) !important;
  opacity: 1 !important;
}

.Header-NavTab_active {
  opacity: 1;
}
