.Header {
  height: 64px;
  background-color: #fff;
  box-shadow: none;
}

.Header-Logo {
  display: inline-block;
  height: 40px;
  width: 112px;
  position: relative;
  background: url('../images/logo.svg') no-repeat left top;
  vertical-align: top;
}
